<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.knc.service.custmgmt.dto.MyBatisDTO">

<!--  <select id="retrieveTbTagSet"-->
<!--          parameterType="TbTagSetDTO" resultType="TbTagSetDTO">-->
<!--    SELECT TAG_SEQ as tagSeq,-->
<!--           TAG_ID,-->
<!--           TAG_NM,-->
<!--           USE_YN,-->
<!--           DESCRIPTION,-->
<!--           REG_USR_ID,-->
<!--           REG_DTTM,-->
<!--           MOD_USR_ID,-->
<!--           MOD_DTTM-->
<!--      FROM tb_tag_set-->
<!--     WHERE TAG_SEQ=#{tagSeq}-->

<!--  </select>-->
</mapper>